services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/rails
      - bundle_cache:/usr/local/bundle
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/manager_request_api_development
      DB_HOST: db
    depends_on:
      - db
    entrypoint: ./bin/docker-entrypoint
    command: bash
    stdin_open: true
    tty: true

volumes:
  postgres_data:
  bundle_cache:
